@font-face {
  font-family: "iconfont"; /* Project id 3722964 */
  src: url('iconfont.woff2?t=1667034508423') format('woff2'),
       url('iconfont.woff?t=1667034508423') format('woff'),
       url('iconfont.ttf?t=1667034508423') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-time:before {
  content: "\e65f";
}

.icon-file-word:before {
  content: "\e7ba";
}

.icon-folder:before {
  content: "\e7d1";
}

.icon-calendar:before {
  content: "\e624";
}

.icon-calendar-check-fill:before {
  content: "\e6f0";
}

.icon-24gf-tags:before {
  content: "\e885";
}

.icon-icon-:before {
  content: "\e627";
}

.icon-fangkeguanli:before {
  content: "\e87a";
}

.icon-youxiang:before {
  content: "\e645";
}

