<head>
  <!-- ... -->
  <script src="https://unpkg.com/@waline/client@v2/dist/waline.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/@waline/client@v2/dist/waline.css" />
  <!-- ... -->
</head>

<body>
  <!-- ... -->
  <div id="waline"></div>
  <script>
    Waline.init({
      el: '#waline',
      serverURL: 'https://comments.wangzihang.site/',
      emoji: ['https://unpkg.com/@waline/emojis@1.1.0/weibo', 'https://unpkg.com/@waline/emojis@1.1.0/bilibili'],
      dark: 'body.dark-theme'
    });
  </script>
</body>