// ==============================
// Custom style
// ==============================
//  Also You can override the variables in variable.styl to customize the style

// waline评论样式
.wl-comment {
    max-width: 780px;
    margin: auto;
}
.wl-meta-head {
    max-width: 780px;
    margin: auto;
}
.wl-empty {
    max-width: 780px;
    margin: auto;
}
.wl-cards .wl-item {
    max-width: 780px;
    margin: auto;
} 
.wl-power {
    max-width: 780px;
    margin: auto;
}

.footer {
    height: 3rem; //行高
    line-height: 1.5rem; //行间距
}

//代码块深色
// Dark mode for pre
.dark-theme .post-content figure,
.dark-theme .post-content figure.highlight .code pre {
    background-color: #444;
    color: #ccc;
}

// Dark mode for pre line number
.dark-theme .post-content figure.highlight .gutter pre {
    background-color: #444;
    color: #ccc;
}

// 字体大小
//body {
//    font-size: 14pt;
//    line-height: 1.8em;
//}

//.post-toc {
//    font-size: 0.9rem;
//}

//.copyright {
//    font-size: 16px;
//}